body {
  text-align: center;
  background-color: #333333;
  font-size: calc(1em + 1vw);
  height: 100%;
  color: #ffeeaa;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p {
  margin-top: 8%;
  padding-bottom: 10%;
}

.sw_left {
  width: 50%;
  float: left;
  text-align: center;
}
.sw_right {
  width: 50%;
  float: right;
  text-align: center;
}
.countdown {
  height: 30vmin;
  display: block;
  /* height: 30%; */
}

.cd {
  font-size: 500%;
}
.watch {
  font-size: 400%;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.cd_hidden {
  display: none;
}

.cd_three {
  color: lightgreen;
}

.cd_two {
  color: yellow;
}

.cd_one {
  color: orange;
}

.cd_start {
  color: orangered;
}

.cd_inact {
  color: gray;
}

.b1 {
  font-size: 200%;
}
